.header {
  background: linear-gradient(to right, #000001 0%, #071a28 41%, #0e3552 100%);
}
.vdg_logo {
  
    @apply font-black text-3xl text-white;
    .vdg_logo_gradient {
        font-style: italic;
        background: linear-gradient(to right, #00843F, #9AC341);
        background-clip: text;
        -webkit-background-clip: text;
        padding-right: 10px;
        -webkit-text-fill-color: transparent;
      }

}
